
.loader {
    opacity: 1;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    animation: spin 2.7s infinite linear;
    transition: opacity 1.5s ease-in;
}

.loader-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: var(--main-solid);
    color: var(--main-solid-content);
    cursor: pointer;
    display: none;
}

.loader-button:hover {
    background-color: var(--main-transparent);
}

.loader-orb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 0.3em solid var(--main-solid);
    border-radius: 50%;
    transition: left 1.3s ease;
}

.loader-orb[class*=" 0"] {
    width: 100px;
    height: 100px;
    left: 0.5em;
    border-width: 0.5em;
    animation: spin 3.3s infinite linear;
}

.loader-orb[class*=" 1"] {
    width: 75px;
    height: 75px;
    left: 175px;
    animation: spin 0.8s reverse infinite linear;
}

.loader-orb[class*=" 2"] {
    width: 55px;
    height: 55px;
    left: -200px;
    border-width: 0.15em;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

body {
    background-color: var(--main-background);
}

