:root {
    font-size: 1em;

    margin: 0;
    padding: 0;
    border: 0;

    line-height: 1em;

    overflow: hidden;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

pre {
    font-family: var(--code-font);
}

.nothing {
    position: absolute;
    font-family: var(--code-font);
    color: var(--main-solid);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 4s infinite linear;
    animation-delay: 2.5s;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
