
:root {
    font-size: 1em;

    margin: 0;
    padding: 0;
    border: 0;

    line-height: 1em;

    overflow: hidden;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

pre {
    font-family: var(--code-font);
}

button {
    border: none;
    border-radius: 0.5em;
    height: 1.5em;
    background-color: var(--main-solid);
    color: var(--main-solid-content);
    padding-left: 1em;
    padding-right: 1em;
}

p {
    color: var(--main-solid);
}

.nothing {
    position: absolute;
    font-family: var(--code-font);
    color: var(--main-solid);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 4s infinite linear;
    animation-delay: 2.5s;
}

.theme-toggle {
    position: absolute;
    bottom: 2em;
    right: 2em;
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background-color: var(--main-solid);
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

